# Kafka Configurations
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_USER_EVENTS=user-events
KAFKA_TOPIC_CONTENT_METADATA=content-metadata
KAFKA_TOPIC_FEATURE_STORE=feature-store
KAFKA_TOPIC_METRICS=flink-metrics

# Flink Configurations
FLINK_JOB_NAME=RealTimeFeaturePipeline
FLINK_STATE_BACKEND=rocksdb
FLINK_CHECKPOINT_INTERVAL_MS=10000

# Dashboard Configurations
DASHBOARD_PORT=8000
WEBSOCKET_PORT=8000
